.share-album {
	margin-top:10px;
	 margin-bottom: 10px;
	
}

.sharedWith li {
	display: inline;
	padding: .5em;

}

.sharedWith ul {
	padding-left: inherit;
	margin-top: 10px;
}


#search {
	width: 39%
}

.search-form {}

.login{
	padding: 1em;
	color: grey;
}

.instagramRow {
	display: inline-block;
	/*border-style: dashed;*/
	word-wrap: break-word;
	display: flex;
	flex-wrap: wrap;
	border: dotted;
	/*overflow-x: scroll;
	overflow-y: hidden;
	white-space:nowrap;*/
}

.instagramDisplay {
	padding: .5em;
	display: inline-block;
	/*border-style: dotted;*/
}
#close {
    
    position: absolute;
   font-size:18px;
   color: red;
    top: 2px;
    right: 2px;
}

#headline {
	text-transform: uppercase;
}

.infoHeader {
	/*display: flex;*/
	background-color: grey;
	color: white;
	padding-bottom: .5em;	
}

.delete {
	text-align: center;
	margin-top: 1em;
}

.delete-hashtag {
	margin-top: 1em;
}

.title {
	margin-top: 1em;
	text-align: center;
	text-transform: uppercase;
}

.date {
	margin-top: 1em;
	text-align: center;
}
.gif-notes{
	padding: .8em;
}


.memory {
	padding: 1em;
	margin: 2px;
}

.glyphicon.glyphicon-heart {
    font-size: 2em;
    color: red;
}