<template name = 'hashtag'>
<div>
<div class="container">
    <div class="row"> 
	
  		<div class = "col-md-12 search-form" align = "center">
  				<label>SEARCH GIPHY</label>
				<form class = "hashtagSearch form-inline">
					
					<input id = 'search' class = "form-control" type="text" name = "hashtagId" placeholder = "Search Hashtag" required pattern="[a-zA-Z0-9\s]+">
					
					<input type="submit" class = "btn btn-primary" id = 'submit' value ='hashtag search'>	
				</form>
			
				<h2># {{ headline }}</h2>
		</div>

	</div>
</div>
</div>

</template>
