
<template name = 'instafeed'> 

{{#if currentUser}}

<div class = "instagramPhoto" id = 'instafeed'>
	<div class = "container">
		<div class = "row">	

  		<!--CALL loadPicture function from app.js-->
		{{#each loadPictures}}
	
				<div class = "container infoHeader">
				
					<div class = 'col-md-4 title'>
						<h3>#{{tag}}</h3>
					</div>

					<div class = 'col-md-4 date'>
						<h4>Date Searched</h4>
						<h4>{{dateTagged}}</h4>
					</div>
					
					<!-- delete button must be placed in this loadPicture loop, otherwise delete will NOT hook into this._id 
			for removal from Collection -->
					<div class = 'col-md-4 delete'>
						<button class="delete-hashtag btn btn-danger" id="delete" type="submit">Delete Hashtag</button>
					</div>
				</div> <!-- infoHeader div -->

				<div class = "instagramRow col-md-12">
					
						<!-- LOAD ALL DATA FROM SUBSCRIPTION  -->
						{{#each data }}
							<div class = "col-md-3 instagramDisplay" >
								<a href="#" id ="close" name ="closePic"><span class = "glyphicon glyphicon-remove"></span> </a>
						
							<!-- LOAD IMAGES "data.images.low_resolution.url" -->
							{{#with images}}
								{{#with low_resolution}}
									<img src="{{ url }}" class = "img-responsive" alt = 'so sorry image has been removed'>
									<br/>
								{{/with}}
							{{/with}}
							<div class = "userInfo">
							<!-- LOAD USERNAME "data.user.username" -->
							{{#with user}}
							
							<!-- LOAD PROFILE PICTURE 'data.user.profile_picture' -->
							<img src="{{profile_picture}}" class = "img-circle profileImg" alt='profile pic'>
							<p>Photo By: {{username}}</p>

							{{/with}}
						</div>

							<!-- LOAD CAPTIONS "data.caption.text" -->
							{{ #with caption }}

								<p>{{ text }}</p>
							
							{{/with}}
								
							</div> 
						{{/each}}   <!--DATA LOOP END-->
						<!--  NOTES TEMPLATE -->	
					{{>notes}}
				</div> <!-- instagramRow Div -->


				{{/each}} <!--loadPicture function loop END-->
		</div>
	</div>
</div> <!-- instagramPhoto div -->

{{/if}} <!-- current user div -->
</template>