
<template name = 'instafeed'> 

{{#if currentUser}}

<div class = "instagramPhoto" id = 'instafeed'>
	<div class = "container">
		<div class = "row">	

  		<!--CALL loadPicture function from app.js-->
		{{#each loadPictures}}
	
				<div class = "container infoHeader">
					<div class = "row">
				
					<div class = 'col-md-4 title'>
						<h3>#{{tag}}</h3>
					</div>

					<div class = 'col-md-4 date'>
						<h4>Date Searched</h4>
						<h4>{{dateTagged}}</h4>
					</div>
					
					<!-- delete button must be placed in this loadPicture loop, otherwise delete will NOT hook into this._id 
			for removal from Collection -->
					<div class = 'col-md-4 delete'>
						<button class="delete-hashtag btn btn-danger" id="delete" type="submit">Delete Hashtag</button>
					</div>
					</div>  <!-- row -->
				</div> <!-- infoHeader div -->

			<div class = "container">
			<div class = "row">	
			<div class = "instagramRow col-md-12">
						<!-- LOAD ALL DATA FROM SUBSCRIPTION  -->
						{{#each data }}
			
					<div class = "col-md-3 instagramDisplay" >
							<a href="#" id ="close" name ="closePic"><span class = "glyphicon glyphicon-remove"></span> </a>
						<div>
							{{#with images}}
								{{#with fixed_height}} 
								<!-- data.images.fixed_height.url -->
									<img src="{{url}}" class = "img-responsive" alt = 'so sorry gif is gone'>
								{{/with}}
							{{/with}}
						</div>		
								<p>Gif By: {{username}}</p>
								<p>Rating: {{ rating }}</p>
								<p>Source: {{source}}</p>
					</div> <!--  instagramDisplay -->
		
						{{/each}}   <!--DATA LOOP END-->
					
					<!--  NOTES TEMPLATE -->	
					{{>notes}}		
			</div> <!-- instagramRow Div -->
			</div> <!-- row -->
			</div> <!-- container -->

				{{/each}} <!--loadPicture function loop END-->
		</div> <!-- row -->
	</div> <!-- container -->
</div> <!-- instagramPhoto div -->
{{else}}
<div class = "container">
	<div class = "row">
		<div class = "col-md-4 col-md-offset-4 logout">
			<h4>You must be logged-in to see this content</h4>
		</div>

	</div>

</div>
{{/if}} <!-- current user div -->
</template>