
<template name = 'instafeed'> 
<!--display current hashtagId -->
<h3># {{ headline }}</h3>

	<div class = "instagramPhoto six columns" id = 'instafeed'>

	<!--CALL loadPicture function from app.js-->
		{{#each loadPictures}}
		<button class="delete-image" id="delete" type="submit">Delete</button>
		<p>{{_id}}</p>
				<!-- LOAD ALL DATA FROM SUBSCRIPTION  -->
		{{#each data }}
			
			<!-- LOAD IMAGES "data.images.low_resolution.url" -->
			{{#with images}}
				{{#with low_resolution}}
					<!-- <div class = 'instagram'> -->
				
					<!-- <button class="delete-image" id="delete" type="submit">Delete</button> -->
				
					<img src="{{ url }}">

				<!-- </div> -->
				
			
				{{/with}}
			{{/with}}

			<!-- LOAD CAPTIONS "data.caption.text" -->
			{{ #with caption }}

				<p>{{ text }}</p>

			{{/with}}
		
		{{/each}}   <!--DATA LOOP END-->

	{{/each}}  <!--loadPicture function loop END-->
	</div>

</template>