<template name = "notes">
	<div class = 'container'>
		<div class = 'row'>
			<div class = "col-md-12">

				<form class = "new-note form-inline">
					<textarea class="form-control" style = "width:80%;" name ="instagramNote" rows="1" placeholder ="Enter notes about search"></textarea>
					
					<button type = "submit" class = "btn btn-default">Add Note</button>
				
				</form>
				<div class = "memory">
					{{#each loadMemory}}
				  <h4>{{memory}}</h4>
				 {{/each}}
				</div>
			
			</div>
		</div>

	</div>
</template>

