<template name = "notes">
	<div class = 'container'>
		<div class = 'row'>
			<div class = "col-md-12 gif-notes">

				<form class = " form-inline">
					<textarea class="form-control" style = "width:80%;" name ="gifNote" rows="1" placeholder ="Enter notes about search"></textarea>
					
					<input type = "submit" class = "new-note btn btn-default">
				
				</form>
				
				<div class = "memory">
				{{#each loadMemory}}
				  <h4>memory: {{memory}}</h4>
				{{/each}}
				</div>

			
			</div>
		</div>

	</div>
</template>

