<template name = "share">
	<div class = 'container'>
		<div class = 'row'>
		<div class = "col-md-12 share-album" >
		
    <div class="input-group">
          <input type="email" id="sharedEmail" class="form-control" placeholder = "enter email" />
          <div class="input-group-btn">
            <button
            	id = 'share-album'
              class="btn btn-default">
              Share Album
            </button>
          </div>
        </div>
        
        <div class = "sharedWith">
      {{#each displayEmails}}
        
          <p>Shared With: {{sharedWith}}</p>
         
        {{/each}}
        </div>

		</div>
	 </div>
	</div>
</template>