<template name = "share">
  {{#if currentUser}}
	<div class = 'container'>
		<div class = 'row'>
		<div class = "col-md-6 share-album" >
		<label>SHARE THIS ALBUM</label>
    <div class="input-group" id = "share-input">
        
          <input type="email" id="sharedEmail" class="form-control" placeholder = "Enter email to share album" />

          <div class="input-group-btn">
            <button
            	id = 'share-album'
              class="btn btn-default">
              Share Album
            </button>
          </div>
    </div>
        
    <div class = "sharedWith">

      <ul>
            <li>Shared With: </li>
          {{#each displayEmails}}
            
            <li>{{sharedWith}}, </li> 
          {{/each}}
      </ul>
    </div>

		</div>
	 </div>
	</div>
  {{/if}} <!-- current user div -->
</template>